* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: medium;
}

input[type=text],input[type=password] {
    width: 100%;
    padding:15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

button {
    background-color: #0478aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
  }
  
  .cancelbutton {
    padding: 14px 20px;
    background-color: #e9951f;
  }
  
  .cancelbutton, .signupbutton {
    float: left;
    width: 50%;
  }
  
  .box {
    padding: 16px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .links button {
    margin: 5px;
     position: relative;
     left: 34%;
     border-radius: 10px;
  }
  
  .login-with-google-btn {
    background-color: crimson;
  }

  .login-with-apple-btn {
    background-color: gray;
  }

  @media screen and (max-width: 300px) {
    .cancelbutton, .signupbutton {
      width: 100%;
    }
  }



